@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,700;1,700&display=swap');


/* ----FRONT PAGE CSS------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    width: 100%;
    height: 100vh;
    
}
.header {
    display: flex;
    box-shadow: 0 0 20px #662912;;
    padding: 0.5%;
  }
  
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
.header .header-text {
    position: relative;   
    font-size: 30px;
    color: yellow;
    text-decoration: none;
    font-family: 'Arvo';
    position: absolute;
    left: 6%;
    top: 16px;

}

.header .header-text-a {
    font-size: 30px;
    color: yellow;
    text-decoration: none;
    font-family: 'Arvo';
    position: absolute;
    left: 83%;
    top: 16px;

}
  
.nav {
    color:yellow; 
    font-size:40px; 
    cursor:pointer; 
    float: right; 
    margin-left: 1400px;
}

.nav:hover {
    color:#d08c2c;
    padding-left: ;
}

.background {
    background-color:#008037;
    opacity: 80%;
    transition: 0.3s;
}

.background:hover {
    background-color:#008037;
    opacity: 100%;
}

.logo {
    height: auto;
    width: 600px;
    position: absolute;
    top: 36%;
    left: 30%;
    opacity: 85%; 
    transition: 0.3s;
}

.logo:hover {
    opacity: 100%;
    transform: scale(1.05); 
}

.text-white {
    font-family: 'Arvo';
    font-size: 70px;
    color: white;
    display: inline-block;
    padding-top: 80px;
    padding-left: 100px;
}

.text-yellow {
    font-family: 'Arvo';
    font-size: 80px;
    color: yellow;
    padding-top: 80px;
    padding-left: 15px;
    display: inline-block;
}

.text-yellow:hover {
    color:yellow;
    text-shadow:0px 0px 50px rgb(255, 157, 0) ;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.button-admin {
	color:#3d2a0a;
    font-family: 'Arvo';
    text-decoration: none;
	height: 70px;
    width: 200px;
	cursor: pointer;
	margin-top: 20%;
    margin-left: 43%;
	background: #d08c2c;
    border: none;
	border-radius: 15px;
    -webkit-box-shadow: 0px 4px 1px #3d2a0a;
    -moz-box-shadow: 0px 4px 1px #3d2a0a;
    box-shadow: 0px 4px 1px #3d2a0a;
    cursor: pointer;
    font-size: 23px;
}

.button-admin:hover {
    background-color:#fecb00;
    box-shadow: 0 10px 15px #3d2a0a, 0 10px 10px orange;
}

.footer {
    width: 100%;
    padding: 30px;
}

.footer .main {
    width: 100%;
    margin: auto;
}

.footer h3 {
    font-size: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    padding-left: 30%;

}

/* -----LOG-IN CSS ----- */

.body-logo {
    height: auto;
    width: 400px;
    position: absolute;
    top: 15%;
    left: 36.5%;
}

.form-box-login {
    width: 350px;
	height: 350px;
	position: relative;
	margin: auto;
	top: 33%;
    margin-bottom: 5%;
	background: #d08c2c;
    border: 3px solid #662912;
    border-radius: 15px;
	padding: 10px;
    justify-content: center;
    align-items: center;
}

.avatar {
    height: 125px; 
    width: 125px; 
    border-radius:50%; 
    position:absolute; 
    top: -60px; 
    left: calc(50% - 65px);
}



.text-login-a {
    padding-top: 15%;
    padding-bottom: 1%;
    text-align: left;
    margin-left: 10%;
    font-size: 15px;
    font-family: 'Arvo';
    color: #3d2a0a;

}

.text-login-b {
    padding-top: 5%;
    padding-bottom: 1%;
    text-align: left;
    margin-left: 10%;
    font-size: 15px;
    font-family: 'Arvo';
    color: #3d2a0a;

}

.input-username {
	width: 80%;
    height: 10%;
    padding: auto;
    margin-left: 30px;
    padding-left: 10px;
	border: none;
	background: #dfad57;
    color: #3d2a0a;
    border-radius:7px;
    font-family:'Courier New', Courier, monospace;
}

.input-username:focus { 
    outline: none;
    border-color: #3d2a0a;
    box-shadow: 0 0 10px #3d2a0a;
}

.input-pass{
	width: 80%;
    height: 10%;
    padding: auto;
    margin-left: 30px;
    padding-left: 10px;
	border: none;
	background: #dfad57;
    color: #3d2a0a;
    border-radius:7px;
    font-family:'Courier New', Courier, monospace;
}

.input-pass:focus { 
    outline: none;
    border-color: #3d2a0a;
    box-shadow: 0 0 10px #3d2a0a;
}

::-webkit-input-placeholder{
    color:#662912;
}

.button-login {
	color:#f4e4cb;
    font-family: 'Arvo';
    text-decoration: none;
	height: 50px;
    width: 150px;
	cursor: pointer;
	margin-top: 12%;
    margin-left: 26%;
	background: #3d2a0a;
    border: none;
	border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
}

.button-login:hover {
    background-color: #662912;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

/* -----INDEX CSS----- */

.home-logo {
    height: auto;
    width: 400px;
    position: absolute;
    top: 14%;
    left: 36.5%;
}


.form-box-home {
    width: 380px;
	height: 450px;
	position: relative;
	margin: auto;
    margin-left: 37%;
	margin-top: 13%;
	background: #d08c2c;
    border: 2px solid #7f564d;
    border-radius: 15px;
    border: 3px solid #662912;
	padding: 10px;
    overflow: hidden;
    position:absolute; 
}

.button-box {
	width:255px;
    margin-top: 20px;
    margin-left: 42px;
    margin-bottom: 20px;
	position:relative;
	box-shadow: 0 0 1px 1px #3d2a0a;
	border-radius: 30px;
}

.toggle-btn {
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	position: relative;
    color: #f4e4cb;
    cursor: pointer;
    font-family: 'Arvo';
    font-size: 17px;
}

.toggle-btn:hover {
    color:white;
    transform: scale(1.1);

}

#btn {
	top: 0;
	left:0;
	position: absolute;
	width: 145px;
	height: 100%;
	background:  #3d2a0a;
	border-radius: 40px;
	transition: .5s;
}

.home-flavor {
	top: 170px;
	position:absolute;
    color: #662912;
	width:280px;
	transition:.5s;
}

.home-size{
    top: 170px;
	position:absolute;
    color: #662912;
	width:280px;
	transition:.5s;
}

.text-home {
    font-family: 'Arvo';
    color: #662912;
    display: inline-block;
    padding-top: 10%;
    padding-left: 13%;
    font-size: 28px;
    text-align: center;
}

.button-add {
	color:#3d2a0a;
    font-family: 'Arvo';
    text-decoration: none;
	height: 40px;
    width: 120px;
	cursor: pointer;
    margin-top: 12%;
	background: #dfad57;
    border: none;
	border-radius: 15px;
    -webkit-box-shadow: 0px 4px 1px #3d2a0a;
    -moz-box-shadow: 0px 4px 1px #3d2a0a;
    box-shadow: 0px 4px 1px #3d2a0a;
    cursor: pointer;
    font-size: 15px;
    position:absolute; 
}

.button-add:hover {
    background-color: #fecb00;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

.button-search {
	color:#3d2a0a;
    font-family: 'Arvo';
    text-decoration: none;
	height: 40px;
    width: 120px;
	cursor: pointer;
    margin-top: 13%;
    margin-left: 50%;
	background: #dfad57;
    border: none;
	border-radius: 15px;
    -webkit-box-shadow: 0px 4px 1px #3d2a0a;
    -moz-box-shadow: 0px 4px 1px #3d2a0a;
    box-shadow: 0px 4px 1px #3d2a0a;
    cursor: pointer;
    font-size: 15px;
    position:absolute; 
}

.button-search:hover {
    background-color:#fecb00;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

.button-display {
	color:#3d2a0a;
    font-family: 'Arvo';
    text-decoration: none;
	height: 40px;
    width: 120px;
	cursor: pointer;
    margin-top: 35%;
	background: #dfad57;
    border: none;
	border-radius: 15px;
    -webkit-box-shadow: 0px 4px 1px #3d2a0a;
    -moz-box-shadow: 0px 4px 1px #3d2a0a;
    box-shadow: 0px 4px 1px #3d2a0a;
    cursor: pointer;
    font-size: 15px;
    position:absolute; 
}

.button-display:hover {
    background-color: #fecb00;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

.button-delete {
	color:#3d2a0a;
    font-family: 'Arvo';
    text-decoration: none;
	height: 40px;
    width: 120px;
	cursor: pointer;
    margin-top: 35%;
    margin-left: 50%;
	background: #dfad57;
    border: none;
	border-radius: 15px;
    -webkit-box-shadow: 0px 4px 1px #3d2a0a;
    -moz-box-shadow: 0px 4px 1px #3d2a0a;
    box-shadow: 0px 4px 1px #3d2a0a;
    cursor: pointer;
    font-size: 15px;
    position:absolute; 
}

.button-delete:hover {
    background-color: #fecb00;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

.button-update {
	color:#3d2a0a;
    font-family: 'Arvo';
    text-decoration: none;
	height: 40px;
    width: 120px;
	cursor: pointer;
    margin-top: 60%;
    margin-left: 25%;
	background: #dfad57;
    border: none;
	border-radius: 15px;
    -webkit-box-shadow: 0px 4px 1px #3d2a0a;
    -moz-box-shadow: 0px 4px 1px #3d2a0a;
    box-shadow: 0px 4px 1px #3d2a0a;
    cursor: pointer;
    font-size: 15px;
    position:absolute; 
}

.button-update:hover {
    background-color: #fecb00;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }


#flavor {
	left:50px;
}

#flavor input {
	color:#662912;
	font-size:15;
}

#size {
	left:450px;
}

#size input {
	color:#662912;
	font-size: 15;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  background-image: linear-gradient(rgba(36, 130, 32, 0.412), rgba(20, 61, 12, 0.796));
  -moz-box-shadow:    -3px 0 5px 0 #3d2a0a;
  -webkit-box-shadow: -3px 0 5px 0 #3d2a0a;
  box-shadow:         -3px 0 5px 0 #662912;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: yellow;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: orange;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*----POP-UP ADD CSS-------*/

.popup { 
    display: none; 
}

.popup.open { 
    display: block; 

}

.blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,.5);
}

.popup .contents {
    border: 2px solid #dfad57;
    border-radius: 15px;
    width: 300px;
    height: 200px;
    display: absolute;
    align-items: center;
    justify-content: center;
    background: #533b11;
    position: unset;
    transform: translate(10%, -35%);
}


.popup .add {
	width: 80%;
    height: 20%;
    padding: auto;
    margin-top: 15%;
    margin-left: 25px;
    padding-left: 6px;
    position: absolute;
	border: none;
	background: #d08c2c;
    color: #3d2a0a;
    border-radius:5px;
}

.popup .add:focus { 
    outline: none;
    box-shadow: 0 0 5px #dfad57;
}

.popup .button-back {
	color:#f4e4cb;
    font-family: 'Arvo';
    text-decoration: none;
	height: 40px;
    width: 100px;
	cursor: pointer;
	top: 65%;
    left: 13%;
	background: #d08c2c;
    border: none;
	border-radius: 30px;
    font-size: 13px;
    position: absolute;
}

.popup .button-back:hover {
    background-color: #662912;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

.popup .button-add-submit {
	color:#f4e4cb;
    font-family: 'Arvo';
    text-decoration: none;
	height: 40px;
    width: 100px;
	cursor: pointer;
	top: 65%;
    left: 50%;
	background: #d08c2c;
    border: none;
	border-radius: 30px;
    font-size: 13px;
    position: absolute;
}

.popup .button-add-submit:hover {
    background-color: #662912;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* ----- CHEKERED CSS ----- */

.chekered-box {
    position: absolute;
    top: 100%;
    left: 0px;
}

td {
    height: 50px;
    width: 50px;
    background-color: yellow;
}

td.highlight {
    height: 50px;
    width: 50px;
    background-color: orange;
    margin-left:10px;
}
